fastapi>=0.68.0,<0.70.0
starlette[staticfiles]<0.71.0
aiofiles==23.2.1
python-jose==3.3.0
PyJWT==2.3.0
cryptography==36.0.0
authlib==1.0.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.23.0,<0.24.0
sqlalchemy==1.4.42
passlib==1.7.4
requests==2.26.0
pytest==6.2.5 